<footer class="site-footer">
  <p class="site-info">
    Copyright &copy; <%= new Date().getFullYear() %> <%= config.title %><br/>
    网站备案：<a href="https://beian.miit.gov.cn/" target="_blank">鄂ICP备18000030号</a>
  </p>
</footer>